[submodule "catkin_ws/src/rplidar_ros"]
	path = catkin_ws/src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "catkin_ws/src/hector_slam"]
	path = catkin_ws/src/hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
